.separator-m
.artboard-xxl.red-500-bg
  .separator-s
.separator-s
.artboard-xl.red-500-bg
  .separator-s
.separator-s
.artboard-l.red-500-bg
  .separator-s
.separator-s
.artboard-m.red-500-bg
  .separator-s
.separator-s
.artboard-s.red-500-bg
  .separator-s
.separator-s
.artboard-xs.red-500-bg
  .separator-s
.separator-s
.artboard-xxs.red-500-bg
  .separator-s
.separator-s
